# This is an example .env file.
# Copy this file to .env and fill in the values.

# OpenAI API Key for LLM (chat completions)
OPENAI_LLM_API_KEY=

# OpenAI API Key for Embeddings
OPENAI_EMBEDDING_API_KEY=

# Google API Key
GOOGLE_API_KEY=

# Qdrant (Optional)
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
